includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - extension.neon
  - phpstan-baseline.php

parameters:
  phpVersion:
    min: 80200
    max: 80599
  level: 10
  tmpDir: build/phpstan
  paths:
    - src
    - tests
    - tools
  excludePaths:
    analyseAndScan:
      - tests/data/**
    analyse:
      - tools/vendor/**
  bootstrapFiles:
    - vendor/autoload.php
  ignoreErrors:
    - identifier: property.defaultValue
    # these errors are needed for testing runtime behaviour
    -
      identifier: method.alreadyNarrowedType
      path: tests/ExpectationTest.php
    -
      identifier: method.impossibleType
      path: tests/ExpectationTest.php
    -
      identifier: method.alreadyNarrowedType
      path: tests/NegatedExpectationTest.php
    -
      identifier: method.impossibleType
      path: tests/NegatedExpectationTest.php
    -
      identifier: method.alreadyNarrowedType
      path: tests/NullableExpectationTest.php
    -
      identifier: method.impossibleType
      path: tests/NullableExpectationTest.php
  exceptions:
    check:
      throwTypeCovariance: true
  checkBenevolentUnionTypes: true
  checkMissingCallableSignature: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkTooWideThrowTypesInProtectedAndPublicMethods: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
