includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - extension.neon
  - phpstan-baseline.php

parameters:
  phpVersion:
    min: 80200
    max: 80499
  level: 10
  tmpDir: build/phpstan
  paths:
    - src
    - tests
    - tools
  excludePaths:
    analyseAndScan:
      - tests/data/**
    analyse:
      - tools/vendor/**
  bootstrapFiles:
    - vendor/autoload.php
  ignoreErrors:
    - identifier: 'property.defaultValue'
  exceptions:
    check:
      throwTypeCovariance: true
  checkBenevolentUnionTypes: true
  checkMissingCallableSignature: true
  checkMissingOverrideMethodAttribute: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkTooWideThrowTypesInProtectedAndPublicMethods: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  treatPhpDocTypesAsCertain: false
